<div id="happy-browse" class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<p class="text-center">
		<strong>Warning :</strong> Your web browser is deprecated to enjoy our web site!
		<a target="_blank" href="http://browsehappy.com/">Click here to upgrade your web browser now.</a>
	</p>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>Coding Dojo Modernizr</h1>
		<hr/>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 1
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 2
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 3
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 4
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 5
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 6
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 7
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 8
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 9
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 10
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 11
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
		Box 12
	</div>
</div>