<div id="happy-browse" class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<p class="text-center">
		<strong>Warning :</strong> Your web browser is deprecated to enjoy our web site!
		<a target="_blank" href="http://browsehappy.com/">Click here to upgrade your web browser now.</a>
	</p>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>Coding Dojo Modernizr</h1>
		<hr/>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 1
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 2
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 3
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 4
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 5
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 6
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 7
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 8
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 9
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 10
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 11
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <button type="button" class="close" data-dismiss="box" aria-hidden="true">&times;</button>
		.box 12
	</div>
</div>