/* Message for old browsers: */
div#happy-browse{
	display: none;
}
html.no-boxshadow div#happy-browse,
html.no-websockets div#happy-browse,
html.no-canvas div#happy-browse,
html.no-geolocation div#happy-browse,
html.no-borderradius div#happy-browse,
html.no-textshadow div#happy-browse,
html.no-opacity div#happy-browse,
html.no-cssgradients div#happy-browse,
html.no-cssanimations div#happy-browse,
html.no-fontface div#happy-browse,
html.no-svg div#happy-browse,
html.no-video div#happy-browse,
html.no-audio div#happy-browse,
html.no-localstorage div#happy-browse,
html.no-sessionstorage div#happy-browse,
html.no-webworkers div#happy-browse{
	display: inline;
	position: absolute;
	top: 0px;
	left: 20%;
	width: 60%;
}
/* Simulated box shadow using borders: */
div.box {
   height: 100px;
}
.no-boxshadow div.box {
   border-bottom: 1px solid #666;
   border-right: 1px solid #777;
}
.boxshadow div.box {
   -webkit-box-shadow: #666 1px 1px 1px;
      -moz-box-shadow: #666 1px 1px 1px;
           box-shadow: #666 1px 1px 1px;
}